* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background: linear-gradient(135deg, #f5f9ff, #a9d0e9);
}

/* HEADER */
header {
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #1f3bb3;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    font-size: 19px;
    color: #333;
    font-weight: 500;
}

.btn-start {
    padding: 10px 22px;
    border: none;
   background-color:#697cf9;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s; 
}
.btn-start:hover{
    background-color:#3f56ee;
}


.contact_container{
    background-color: #799cea;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: rem;
}

.contact_aside{
    background-color: #5171ad;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.aside_image{
    width:12rem;
    margin-bottom: 1rem;
}
.aside_image img{
    width: 100%;
}
.contact_aside h2{
    text-align:left;    
    margin-bottom: 1rem;
}
.contact_aside p{
    font-size: 1rem;    
    margin-bottom: 2rem;
}
.contact_details li {
display: flex;
gap: 1rem;
align-items: center;
margin-bottom: 1rem;
}
.contact_socials {
display: flex;
gap: 0.8em;
margin-top: 3rem;
}
.contact_socials a {
background-color: #a9d0e9;
padding: 0.5rem;
border-radius: 50%;
font-size: 0.9rem;
transition: 0.3sec;
}

.contact_socials a:hover {
background: transparent;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    margin-right:4rem;
}
.form_name {
display: flex;
gap: 1.2rem;
}
.contact_form input[type="text"] {
width: 50%;
}
.input,textarea {
width: 100%;
padding: 1rem;
background-color: #f5f9ff;
color:bisque;
}



/* FOOTER SECTION */
.footer {
    background-color: #26396b;  
    color: white;
    padding: 70px 50px 30px;
    position: relative;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    text-align: left;
}

.footer-column {
    width: 30%;
    min-width: 220px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column a,
.footer-column p {
    display: block;
    margin: 8px 0;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

/* Hover colour change */
.footer-column a:hover {
    color: #ffffff;
    font-weight: 500;
    padding-left: 5px;
}

.footer-column p:hover {
    color: #ffffff;
}

copyright {
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }
}
