* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background: linear-gradient(135deg, #f5f9ff, #a9d0e9);
}

/* HEADER */
header {
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #1f3bb3;
}
.logo img {
    width: 170px;   /* adjust size as needed */
    height: 80px;
    object-fit: contain;
}

nav a {
    margin: 0 18px;
    text-decoration: none;
    font-size: 19px;
    color: #333;
    font-weight: 500;
}

.btn-start {
    padding: 10px 22px;
    border: none;
   background-color:#697cf9;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s; 
}
.btn-start:hover{
    background-color:#3f56ee;
}
.btn-start a{
    text-decoration: none;
    color: #ffffff;
}

/*Information*/
.info_container{
    height: 200px;
    padding: 5px;
    margin: 5px;
    
}
.info_container h1{
    margin: 25px;
    letter-spacing: 3.5px;
    font-size: 40px;
    color: #222;
}
.info_container p{
    margin-left: 35px;
    font-size: 17px;
}



/*achievements*/
.about_achievements{
    margin-top: 3rem;
}
.about_achievements p{
font-size: 17px;
}


.about_achievements-container{
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 2rem;
}
.about_achievements-left img{
    width: 100%;
    height: 100%;
}
.about_achievements-right h1{
    font-size: 40px;
    color: #1f3bb3;
}
.about_achievements-right >p{
    margin: 1.6rem 0.2rem;
}
.achievements_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.achievement_card{
    background-color: #e6f2f8;
    padding: 1rem;
    border-radius: 1rem;
    text-align:center;
    font-size: 20px;
    transition: 0.3s; 
}
.achievement_card:hover{
    background-color:#94b5ed;
}
.achievement_icon{
    background-color: chocolate;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.achievement_card:nth-child(2) .achievement_icon{
    background-color: rgb(38, 218, 38);
}
.achievement_card:nth-child(3) .achievement_icon{
    background-color: #e421c1;
}



/* TEAM DETAILS */
.team-section{
  width: 85%;
  padding: 25px;
  margin: auto;
  text-align: center;
}

.team-section h2{
  font-size: 45px;
  color: #000;
  margin-bottom: 30px;
}

.team-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member{
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.team-member img{
  border-radius: 50%;
  border: 4px solid #b1bf95;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3{
  font-size: 28px;
  color: #1f3bb3;
  margin-bottom: 10px;
}

.team-member .title{
  font-size: 28px;
  color: #888;
  margin-bottom: 10px;
}

.team-member .content{
  font-size: 16px;
  color: #555;
}







/* FOOTER SECTION */
.footer {
    background-color: #26396b;  
    color: white;
    padding: 70px 50px 30px;
    position: relative;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    text-align: left;
}

.footer-column {
    width: 30%;
    min-width: 220px;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-column a,
.footer-column p {
    display: block;
    margin: 8px 0;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

/* Hover colour change */
.footer-column a:hover {
    color: #ffffff;
    font-weight: 500;
    padding-left: 5px;
}

.footer-column p:hover {
    color: #ffffff;
}

copyright {
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }
}